#Header {
    width: 900px;
    max-width: 90vw;
    align-self: center;
    background-image: linear-gradient(to left, deepskyblue, black);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#Brand {
    color: #ffffff;
}

#Login, #Sign-up {
    color: #ffffff;
}

#Login {
    border-right: white;
    border-right-width: thin;
    border-right-style: solid;
}

.Nav-Link:hover {
    text-decoration: underline;
}

@media (max-width: 575px){

    #Login {
        border: 0;
        border-bottom: thin solid #ffffff;
    }

    #Mobile-Collapse {
        margin-top: 2%;
        border: none;
        border-top: thin solid white;
    }

}