.Modal-Fade-In {
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.Modal-Fade-Out {
    animation: fadeOutAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
     }
}

.Modal-Back-Drop {
    display: flex;
    position: fixed;
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    z-index: 3;
}

.Modal {
    width: 90%;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    z-index: 4;
}

.Modal-Header {
    display: flex;
    background-image: linear-gradient(to right, black, deepskyblue);
    height: 50px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.Modal-Header h4 {
    color: white;
    margin: auto;
    margin-left: 2%;
}

.Modal-Word {
    margin: 10px;
    width: 70%;
}

.Modal-Definition {
    margin: 10px;
}

.Modal-Submit {
    display: flex;
    justify-content: flex-end;
}

.Modal-Submit-Input {
    margin: 10px;
}