hr {
    border:none;
    height: 20px;
    width: 90%;
    max-width: 900px;
	height: 50px;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
}

.Result-Box {
    background-color: white;
    margin-top: 12px;
    border-radius: 10px;
    border: thin black solid;
    display: flex;
    justify-content: space-around;
    height: 20vh;
    min-height: 200px;
}

.Result-Body {
    display: flex;
    margin: auto;
    width: 80%;
    border-radius: inherit;
    justify-content: center;
    align-content: center;
}
.Result-Text {
    border-radius: inherit;
    padding: 2%;
    margin: auto;
}

.Result-Side-Bar {
    display: flex;
    flex-direction: column;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background-image: linear-gradient(to right, #30a2ee, deepskyblue);
    color: white;
    justify-self: flex-end;
    margin-left: auto;
    width: 20%;
}

.Results {
    max-width: 600px;
    margin-inline: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Result-Root {
    display: flex;
    align-content: center;
    justify-content: center;
}


.Result-Defined-By {
    border-top: white solid thin;

}


.Result-Rank {
}

.Up-Arrow {
    fill: white;
    transform: rotate(180deg);
}

.Down-Arrow {
    fill: white;
}