hr {
    border:none;
 	width: 90%;
	height: 50px;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
}

.Result-Box {
    background-color: white;
    margin-top: 12px;
    border-radius: 10px;
    border: thin black solid;
    display: flex;
    justify-content: space-between;
}

.Result-Body {
    border-radius: inherit;
    width: 50vw;
    min-height: 20vh;
    background-color: orange;
    justify-self: flex-start;
}
.Result-Text {
    border-radius: inherit;
    background-color: green;
    margin: auto;
}

.Result-Side-Bar {
    border-radius: inherit;
    background-color: blueviolet;
    justify-self: flex-end;
    align-self: center;
    width: 200px;
}

.Results {
    max-width: 600px;
    margin-inline: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Result-Root {
    display: flex;
    align-content: center;
    justify-content: center;
}
