.Divider {
    height: 1px;
    background-color: black;
}

.Result-Box {
    background-color: white;
    margin-bottom: 12px;
    border-radius: 10px;
    border: thin black solid;
    display: flex;
    justify-content: space-around;
}

.Result-Body {
    display: flex;
    margin: auto;
    width: 80%;
    border-radius: inherit;
    justify-content: center;
    align-content: center;
}
.Result-Text {
    border-radius: inherit;
    padding: 2%;
    margin: auto;
}

.Result-Side-Bar {
    display: flex;
    flex-direction: column;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background-image: linear-gradient(to right, #298fd3, deepskyblue);
    color: white;
    justify-content: flex-end;
    width: 20%;
}


.Results {
    max-width: 800px;
    margin-inline: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Result-Root {
    display: flex;
    align-content: center;
    justify-content: center;
}


.Result-Defined-By {
    border-top: white solid thin;
}


.Result-Rank {
    margin: auto;
}

.Up-Arrow {
    fill: white;
    transform: rotate(180deg);
}

.Down-Arrow {
    fill: white;
}

.Result-Root {
    overflow-y: scroll;
    height: 360px;
}