#Header {
    background-image: linear-gradient(to left, deepskyblue, black);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#Brand {
    color: #ffffff;
}

#Login, #Sign-up {
    color: #ffffff;
}

#Login {
    border-right: white;
    border-right-width: thin;
    border-right-style: solid;
}

@media (max-width: 600px){

    #Login {
        border: 0;
    }

    #Mobile-Collapse {
        margin-top: 2%;
        background-color: #000000;
        border: thin solid white;
        border-radius: 5px;
    }

}