#Search-Container {
    max-width: 600px;
}

#Search-Button {
    background: deepskyblue;
    border-color: deepskyblue;
    border-left: thin solid;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#Search-Box {
    color: white;
    border: none;
    border-right: thin solid;
    background-image: linear-gradient(to right, black, deepskyblue);
}

#Search-Box::placeholder {
    color: lightgray;
}

#Search-Button:focus, #Search-Box:focus {
    outline:none;
    box-shadow: none;
}

